<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description | default(content | excerpt | striptags) }}" />
    <title>
      {{ title | default(eleventyNavigation.title) |
      default(eleventyNavigation.key) | striptags | safe }}
    </title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="/assets/og.png" />
    <meta name="twitter:site" content="@EezehDev" />
    <meta name="twitter:creator" content="@EezehDev" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:title" content="{{ title | default(eleventyNavigation.title) }}" />
    <meta property="og:description" content="{{ description | default(content | excerpt | striptags) }}" />
    <meta property="og:image" content="/assets/og.png" />
    <link rel="stylesheet" href="/assets/reset.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <script src="/assets/script.js" />
  </head>
  <body>
    <main>
      <header class="header">
        <div class="header-div container">
          <h1>
            <a href="/" class="header-title title-full">Wouter De Moor</a>
            <a href="/" class="header-title title-short">WDM</a>
          </h1>
          <nav>
            <a href="/games">Games</a>
            <a href="/academic">Academic</a>
          </nav>
        </div>
      </header>

      <div class="content">
        {{ content | safe }}
      </div>

      <footer class="footer">
        <div class="container footer-container">
          <div class="copyright">
            Designed &amp; developed by Wouter De Moor - 2022
          </div>
          <div class="socials">
            <a href="mailto:wouter.demoor@live.be">Email</a>
            <a href="https://twitter.com/EezehDev" target="_blank" rel="noopener noreferrer">Twitter</a>
            <a href="https://github.com/EezehDev" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://eezehdev.itch.io/" target="_blank" rel="noopener noreferrer">Itch.io</a>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>