/*Color variables*/
$brand: #23252b;
$brand-faded: #23252b77;
$light-blue: #0074e0;
$dark-blue: #1965ab;
$grey: #8f8f8f;
$white: #ffffff;
$white-faded: #ffffffab;

/*General styling*/
.container{
    width: 960px;
    margin: 0 auto;
}

.content {
    flex: 1 0 auto;
    margin-top: 12rem;
    margin-bottom: 4rem;
}

/*Header styling*/
.header{
    position: fixed;
    width: 100%;
    padding: 3rem 0;

    background-color: $brand;

    .header-div{
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;

        font-weight: bold;
        color: $white-faded;

        h1{
            grid-column-start: 1;
            font-size: 2.0rem;
        }
    
        nav{
            display: grid;
            flex-direction: row;
            grid-template-columns: repeat(4, auto);
            column-gap: 2.5rem;
        
            grid-column-start: 2;
            justify-self: right;
            align-self: center;
            font-size: 1.6rem;
        }
    
        a:hover{
            color: $white;
        }
    }
}

/*Footer styling*/
.footer{
    flex-shrink: 0;
    padding-bottom: 4rem;

    .copyright{
        text-align: center;
        color: $brand-faded;
        font-size: 1.4rem;
        font-weight: bold;
    }
}

/*Content styling*/
h2{
    font-weight: bold;
    font-size: 3rem;
    color: $brand;
    
    text-align: center;
}

.project-grid{
    display: grid;
    flex-direction: row;
    padding: 4rem 0;
    color: $brand;

    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    .project-cell{
        a{
            display: block;
            text-align: left;
            
            h3{
                padding: 1rem 0 .5rem 0;
                font-size: 1.5rem;
                font-weight: bold;
            }
        
            img{
                width: 100%;
                border-radius: 1rem;
            }

            div{
                font-size: 1.2rem;
                color: $brand-faded;
            }
        }
    }
}

/*Contact styling*/
.contact{
    display: grid;
    height: 100%;
    
    flex-direction: row;
    align-content: center;
    justify-content: center;

    h2{
        padding-bottom: 1.5rem;
    }
}

.contact-subtitle{
    padding-bottom: 4.5rem;
    width: 50rem;

    text-align: center;
    font-size: 1.8rem;
    color: $brand;
}

.contact-links{
    display: grid;
    margin: auto;
    width: min-content;

    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.5rem;

    a{
        font-size: 1.6rem;
        font-weight: bold;
        color: $light-blue;
    }
    a:hover{
        text-decoration: underline;
        color: $dark-blue;
    }
}