/*General styling*/
.container{
    width: 960px;
    margin: 0 auto;
}

.content {
    flex: 1 0 auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

/*Header styling*/
.header{
    position: fixed;
    width: 100%;
    padding: 3rem 0;

    background-color: #23252b;

    div{
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;

        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);

        h1{
            grid-column-start: 1;
        font-size: 2.0rem;
        }
    
        nav{
            display: grid;
            flex-direction: row;
            grid-template-columns: repeat(4, auto);
            column-gap: 2.5rem;
        
            grid-column-start: 2;
            justify-self: right;
            align-self: center;
            font-size: 1.6rem;
        }
    
        a:hover{
            color: #fff;
        }
    }
}

/*Footer styling*/
.footer{
    flex-shrink: 0;
    padding-bottom: 4rem;

    div{
        text-align: center;
        color: #15171e77;
        font-size: 1.4rem;
        font-weight: bold;
    }
}

/*Content styling*/

/*Contact styling*/
.contact{
    display: grid;
    height: 100%;
    
    flex-direction: row;
    align-content: center;
    justify-content: center;

    h2{
        padding-bottom: 1.5rem;

        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        color: #23252b;
    }
}

.contact-subtitle{
    padding-bottom: 4.5rem;
    width: 50rem;

    text-align: center;
    font-size: 1.8rem;
    color: #23252b;
}

.contact-links{
    display: grid;
    margin: auto;
    width: min-content;

    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.5rem;

    a{
        font-size: 1.6rem;
        font-weight: bold;
        color: #0074e0;
    }
    a:hover{
        text-decoration: underline;
        color: #1965ab;
    }
}