/*Color variables*/
$brand: #191b20;
$background: #202229;
$link-red: #de4641;
$linkhover-red: #a83430;
$grey: #8f8f8f;
$white: #e6ecf1;
$white-faded: #e6ecf1ab;

/*General styling*/
html{
    color: $white;
    background-color: $background;
}

.container{
    width: 960px;
    margin: 0 auto;
}

@media (max-width: 1200px){
    .container{
        width: 90%;
    }
}

.content {
    flex: 1 0 auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

@media (max-width: 1200px){
    .content {
        margin-top: 7rem;
        margin-bottom: 1.5rem;
    }
}

h2{
    font-weight: bold;
    font-size: 3rem;
}

em{
    font-weight: 600;
}

a{
    font-size: 1.6rem;
    font-weight: bold;
    color: $link-red;
}

a:hover{
    color: $linkhover-red;
    text-decoration: underline;
}

/*Header styling*/
.header{
    position: fixed;
    width: 100%;
    padding: 2rem 0;

    background-color: $brand;

    .header-div{
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;

        font-weight: bold;
        color: $white-faded;

        .header-title{
            grid-column-start: 1;
            font-size: 2.0rem;
        }
    
        nav{
            display: grid;
            flex-direction: row;
            grid-template-columns: repeat(2, auto);
            column-gap: 2.5rem;
        
            grid-column-start: 2;
            justify-self: right;
            align-self: flex-end;
            font-size: 1.6rem;
        }

        a{
            font-size: 1.6rem;
            color: $white;
        }
    
        a:hover{
            color: $linkhover-red;
            text-decoration: none;
        }
    }
}

.title-full{
    display: block;
}

@media (max-width: 480px){
    .title-full{
        display: none;
    }
}

.title-short{
    display: none;
}

@media (max-width: 480px){
    .title-short{
        display: block;
    }
}

/*Footer styling*/
.footer{
    flex-shrink: 0;
    padding: 2rem 0rem 4rem 0rem;

    .footer-container{
        display: flex;
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
    }
}

.copyright{
    color: $white-faded;
    font-size: 1.4rem;
    font-weight: bold;
}

.socials{
    display: flex;
    grid-template-rows: repeat(4, 1fr);
    width: 30rem;

    a{
        display: block;
        width: 25%;
        text-align: right;
    }
}

/*Home styling*/
.introduction{
    display: grid;
    flex-direction: row;
    justify-content: left;
    padding: 4.5rem 0 8rem 0;
    
    font-size: 1.8rem;

    .introduction-title{
        padding-bottom: 7rem;
    }

    .introduction-text{
        min-width: 80%;
        max-width: 50rem;
    }

    .introduction-contact{
        padding-top: 5rem;

        min-width: 80%;
    }
}

@media (max-width: 1200px){
    .introduction {
        padding-bottom: 6.5rem;
    }
}

.skills{
    margin-bottom: 9rem;

    .skills-grid{
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(3, 1fr);

        padding-top: 2.5rem;
    }

    @media (max-width: 1200px) {
        .skills-grid{
            flex-direction: column;
            grid-template-columns: 1fr;

            row-gap: 3rem;
        }
    }

    .skill-div{    
        h3{
            font-weight: bold;
            font-size: 1.8rem;
        }

        .skill-list{
            padding-top: 1rem;
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}

@media (max-width: 1200px){
    .skills {
        margin-bottom: 6.5rem;
    }
}

.viewall{
    display: flex;
    justify-content: right;

    padding-top: 4rem;
    margin-bottom: 2rem;
}

@media (max-width: 1200px){
    .viewall{
        justify-content: center;
    }
}

/*Grid styling*/
.grid-title{
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 1200px){
    .grid-title {
        margin-top: 3rem;
    }
}

.project-grid{
    display: grid;
    flex-direction: row;
    padding: 4rem 0rem 0rem 0rem;

    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (max-width: 1200px) {
    .project-grid{
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}

.project-cell{
    a{
        display: block;
        text-align: left;

        h3{
            padding: 1rem 0 .5rem 0;
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        img{
            width: 100%;
            border-radius: 1rem;
        }

        div{
            font-size: 1.2rem;
            color: $white-faded;
        }

        div:hover{
            text-decoration: none;
        }
    }
}